{% extends "base.html" %}
{% block content %}
{% for conv in user.conversions %}
    <div class="card m-2 md-4">
        <div class="card-body" align="center">
            <div class="row">
                <div class="col-md-3 col-6">First unit: {{ conv.unit_1 }}</div>
                <div class="col-md-3 col-6">Second unit: {{ conv.unit_2 }}</div>
                <div class="col-md-3 col-6">Inputed value: {{ conv.value }}</div>
                <div class="col-md-3 col-6">Result: {{ conv.result }}</div>
            </div>
            <div class="mt-3 mb-2"></div>
            <div style="font-style: italic; font-weight: 100;">{{ conv.date }}</div>

            <button type="button" class="btn-close" onclick="deleteConversion({{ conv.id }})" aria-label="Close"></button>
        </div>
    </div>
{% endfor %}
{% endblock %}